.login{
  display:flex;
  flex-direction:column;
  text-align:left;

}

.topPanelLog{
  padding: 30px;
  background: #f1f1f1;
  text-align: left;
}

h2 {
  margin:0 0 10px 0 ;
  span{
    margin:0 0 10px 0;
    padding: 0;
  }
}

.form{
  padding:30px;
  display:flex;
  flex-direction:column;
  text-align:left;
  gap:10px;
}
   
 