.button-front {
  box-shadow: -3px 5px 5px -2px rgba(0,0,0,0.71);
	background: linear-gradient(rgb(220, 220, 221) 0%, rgb(195, 195, 195) 100%);
	margin: 0px;
	padding: 0px;
	height: 60px;
	width: 150px;
	color: #1f486f;
	font-family: 'Avenir-Medium';
	font-size: 17px;
	transition: .3s;
}

.button-front-plain {
	box-shadow: -3px 5px 5px -2px rgba(0,0,0,0.71);
	  background: linear-gradient(rgb(220, 220, 221) 0%, rgb(195, 195, 195) 100%);
	  margin: 0px;
	  padding: 0px;
	  height: 60px;
	  width: 150px;
	  color: #1f486f;
	  font-family: 'Avenir-Medium';
	  font-size: 17px;

  }

  .button-front-sm {
	box-shadow: -3px 5px 5px -2px rgba(0,0,0,0.71);
	  background: linear-gradient(rgb(220, 220, 221) 0%, rgb(195, 195, 195) 100%);
	  margin: 0px;
	  padding: 0px;
	  height: 40px;
	  width: 150px;
	  color: #1f486f;
	  font-family: 'Avenir-Medium';
	  font-size: 17px;

  }

.button-front:hover {
	color: #1d78ce;
	background: linear-gradient(rgb(241, 241, 241) 0%, rgb(195, 195, 195) 100%);
	
  }