.container{
  display:flex;
  flex-direction:column;
  text-align:left;
  gap:20px;
}

.form{
  padding:30px;
  display:flex;
  flex-direction:column;
  text-align:left;
  gap:10px;
}
   

.topPanelReg{
  padding: 30px;
  background: #f1f1f1;
  text-align: left;
}
 