.container{
  background: #f1f1f1;
  padding: 30px;
  text-align: left;
} 

.formc{
 
   display: flex;
   flex-direction: column;
   text-align: left;
   gap: 10px;
}

.form
{ 
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}

.topPanelReq{
  padding: 30px;
  background: #f1f1f1;
  text-align: left;
}