.filterspan {
  display:flex;
  flex-direction:column;
  justify-content:left;
  align-items: flex-start;
}

.filterinput
{
  width:min-content;
  font-size: 1.1rem;
  border: none;
  margin-bottom:15px 
}

.cell
{
   border: none;
   
}



.table {
	
	border-collapse: collapse;
	border-spacing: 0px;
	margin-bottom:50px;
  margin-top:5px;
  box-shadow:   0px 3px 14px 3px rgba(0,0,0,0.37);
  thead{
    tr {
    border-bottom:0.5px grey solid;
      color:rgb(46, 46, 46);

  }}
	th {
		padding:15px;
		border-collapse: collapse;
	}
	td {
		
		border-collapse: collapse;
		max-width: min-content;
		word-break: keep-all;
		width: 30px;
		input {
			max-width: 100px;
		}
	}
}
