.desc
{ 
   // background:#efefef;
    padding: 30px;
    margin: 80px 0 80px 0;
    display: flex;
    justify-content: left;
    flex-direction: row;
    text-align: left;
    border-radius: 25px;
}
.welcome
{  
	display: flex;
	flex-direction: column;
	background: #4c4c4c;
	color: rgb(235, 235, 235);
    
}

.welcdescription{
    font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	//color:#727272;
	line-height: 1.3;
}

.text1
{  
    margin: 0 0 30px 0 ;
}
.text2
{  
    margin: 0 0 50px 0 ;
    font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	color:#727272;
	line-height: 1.3;
}
.desc:hover{
	transition: 0.3s;
	background:rgb(224, 224, 224);
}
  @keyframes example {
	from {background-color: white;}
	to {background-color: yellow;}
  }