.topPanel{
  padding: 30px;
  background: #f1f1f1;
  margin: 0 0 20px 0;
  text-align: left;
}

.insidePanel
{ 
  padding: 0;
  margin: 0 0 10px 0;
}

.dataTable {
  padding-left: 30px;
  padding-right: 30px; 
  padding-bottom: 30px; 
}

