
.App {
	text-align: center;
	background: white;
}

.table {
	
	border-collapse: collapse;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
	th {
		
		border-collapse: collapse;
	}
	td {
		
		border-collapse: collapse;
		max-width: min-content;
		word-break: keep-all;
		width: 30px;
		input {
			max-width: 100px;
		}
	}
}
.wc1 {
	padding: 39px;
	font-size: 46px;
	font-family: 'Times New Roman', Times, serif;
}
.wc2 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 30px;
	
	line-height: 1.3;
	height: 120px;
	
}
.headbar {
	color: white;
	height: 25px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	background: #232323;
}
.button-front {
	box-shadow: rgba(0, 0, 0, 75%) -2px 2px 2px 0px;
	background: linear-gradient(rgb(220, 220, 221) 0%, rgb(195, 195, 195) 100%);
	margin: 0px;
	padding: 0px;
	height: 60px;
	width: 150px;
	color: #1f486f;
	font-family: sans-serif;
	font-size: 17px;
}
.footer {
	color: white;
	height: 150px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #e0dfdf;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fleft {
	display: flex;
	font-size: 36px;
	justify-content: flex-end;
	color: rgb(197, 197, 197);
	gap: 10px;
	font-weight: bold;
}
.card {
	width: 250px;
	margin: 10px;
	-webkit-box-shadow: 0px 8px 17px -2px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 8px 17px -2px rgba(0,0,0,0.45);
	box-shadow: 0px 8px 17px -2px rgba(0,0,0,0.45);
	text-align: left;
	background: white;
}
.cardContainer {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 70px;
	margin-bottom: 70px;
}
.cardtitle {
	padding: 10px;
	border-bottom: 1px solid #a1a1a1;
	font-family: sans-serif;
	font-style: italic;
	color:#4d4d4d;
	font-weight: bold;
}
.cardcontent {
	padding: 10px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	color:#727272;
	line-height: 1.3;
}
.hleft {
	display: flex;
	justify-content: flex-end;
	color: black;
	gap: 10px;
}
.hright {
	display: flex;
	justify-content: flex-end;
	height: fit-content;
	gap: 10px;
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
}
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.App-link {
	color: #61dafb;
}

@media (max-width: 800px) {
	.headbar {
	  //background: black;
	}

	.helements {
		display: none;
	}

	.hammenu{
		display: inherit;
	}
	.bm-burger-button{
		display: inherit;
	}
  }

  @media (min-width: 800px) {


	.hammenu{
		display: none;
	}

	.bm-burger-button{
		display: none;
	}
  }

/* Individual item */
.bm-item {
	display: inline-block;
  
	/* Our sidebar item styling */
	text-decoration: none;
	margin-bottom: 10px;
	color: #d1d1d1;
	transition: color 0.2s;
  }
  
  /* Change color on hover */
  .bm-item:hover {
	color: white;
  }
  
  /* The rest copied directly from react-burger-menu docs */
  
  /* Position and sizing of burger button */
  .bm-burger-button {
	position: fixed;
	width: 27px;
	height: 21px;
	left: 9px;
	top: 13px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
	background: white;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
	height: 24px;
	width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
	background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .bm-menu {
	background: #757575;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
	fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
	color: #b8b7ad;
  }
  
  /* Styling of overlay */
  .bm-overlay {
	background: rgba(0, 0, 0, 0.3);
  }
  
.card:hover{
	transition: 0.3s;
	background:rgb(224, 224, 224);
}
  @keyframes example {
	from {background-color: white;}
	to {background-color: yellow;}
  }


  